<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 导入视图解析配置 -->
    <import resource="spring-view.xml" />

    <!-- 配置注解扫描包 -->
    <context:component-scan base-package="com.funtoys.backend.controller,com.funtoys.service.cached,com.funtoys.service.mq" />

    <!-- upload -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为10MB -->
        <property name="maxUploadSize">
            <value>10485760000</value>
        </property>
        <property name="maxInMemorySize">
            <value>1024000000</value>
        </property>
    </bean>

    <!-- 定义环境变量文件 -->
    <bean id="propertyHolder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath*:/config.properties</value>
            </list>
        </property>
    </bean>

    <import resource="dubbo-consumer.xml"/>
</beans>