<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FunToys管理平台-错误</title>
</head>
<body style="background-color: #E2E2E2;">
<div>
    <h1>抱歉，出错了！</h1>
</div>
</body>
</html>